.nav-tabs--vertical {
    border-bottom: none;

    display: flex;
    flex-flow: column nowrap;

}
.tab-pane{
    margin-right: 30px;
}

.nav-item + .nav-item {
    margin-top: .25rem;
}

.nav-link {
    transition: border-color .125s ease-in;
    white-space: nowrap;}



.nav-link.active {

    border-top-right-radius: 0;
    margin-right: -1px;
}
.sabt{
    margin-right: 10px;
}
.head{
    background-color:#921a48;
    color: white;
}
.table{
    margin-top: 50px;
}