

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }


.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }


.tab-content img {

    width: 100%;
}

.card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }



.product-title, .price{

    font-weight: bold; }



.product-title, .product-description, .price {
    margin-bottom: 15px; }

.product-title {
    margin-top: 0; }
.product-description{
    font-size:14px;
}


.add-to-cart, .like {
    background: #0076ad;

    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }

.add-to-cart:hover, .like:hover {

    background: #004566;
    color: #fff; }

.preview {
    margin-top :-50px; }
/******************************************/

.pulse {
    position:absolute;
    top:50%;
    left:50%;
    width:100px;
    height:100px;
    /*background:#56ff00;*/
    border-radius:50%;
    box-sizing:border-box;

}
.title{
    margin-top: 30px;
}
.pulse:before,
.pulse:after
{
    content:'';
    position:absolute;
    top:-20px;
    bottom:-20px;
    left:-20px;
    right:-20px;
    border: 2px solid #921a48;
    border-radius: 50%;
    animation: animate 2s linear infinite;

}
.pulse:after {
    animation-delay: 1s;
}

@keyframes animate
{
    0%
    {
        transform: scale(1.25);
    }
    100%
    {
        transform: scale(1);
    }
}
/*.nav-tabs{*/
    /*margin: 50px;*/
/*}*/